.field {
  position: relative;
  display: block;
  width: 100%;

  &--text-center {
    input,
    textarea {
      text-align: center;
    }
  }

  input,
  textarea {
    display: block;
    width: 100%;
    padding: 0 0 21px;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.1em;
    color: $white;
    border: none;

    border-bottom: solid 1px $grey-75;
    border-radius: 0;
    background-color: transparent;
    appearance: none;

    transition: border-bottom-color $transition;

    outline: none !important;

    @include hover {
      border-bottom-color: $white;
    }

    &::placeholder {
      color: $grey-75;
      opacity: 1;
    }

    @include max(xs) {
      font-size: 16px;
    }
  }

  textarea {
    height: 42px;
    resize: none;
  }

  &__hint {
    position: absolute;
    bottom: 25px;
    left: 0;
    font-size: 20px;
    line-height: 1;
    color: $grey-75;
    letter-spacing: 0.05em;

    transition: transform $transition;
  }

  .datepicker {
    display: block;
  }

  input:focus + &__hint,
  textarea:focus + &__hint {
    display: none;
    //transform: translateY(-100%);
  }
}
