.advantages {
  padding: 60px 0 60px;


  &__title {
    margin-bottom: 90px;
    padding: 20px 0;
    text-align: center;

    @include max(1440) {
      padding: 50px 0;
    }

    @include max(md) {
      padding: 70px 0 20px;
    }

    @include max(sm) {
      padding: 40px 0 0;
    }
  }

  &__main {
    position: relative;


    @include max(md) {
      padding-bottom: 0;
    }

    @include max(xs) {
      //padding-bottom: 200px;
    }



    .container {
      position: relative;
      display: flex;
      flex-direction: column;
    }

    &::after{
      content: "";
      width: 50%;
      left: 50%;
      top: 0;
      height: 100%;
      position: absolute;
      background-color: $light-f1;
      display: block;
      z-index: -1;
      @include max(1440) {
        display: none;
      }
    }
  }

  &__flex{
    display: flex;
    flex-direction: row-reverse;
    @include max(1440) {
      flex-direction: column;
    }

  }

  &__wrapper {
    width: 50%;
    padding: 40px 20px 60px;
    background-color: $light-f1;
    align-self: flex-start;

    @include max(xxl) {
      padding: vw(14) vw(20) vw(20);
    }

    @include max(1440) {
      width: 100%;
      padding: 0 24px 60px;
    }

    @include max(md) {
      padding: 0 60px 80px;
    }

    @include max(sm) {
      padding: 0 20px 80px;
    }

    @include max(xs) {
      padding: 0 12px 40px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -87px !important;

    max-width: 470px;
    margin-left: auto !important;
    margin-right: auto !important;

    @include max(1440) {
      max-width: 100%;
    }


    @include max(md) {
      margin-top: -60px !important;
    }

    @include max(xs) {
      justify-content: center;
      margin-top: -40px !important;
    }

    @include max(xxs) {
      //justify-content: center;
      //margin-top: -40px !important;
    }
  }

  &__item {
    max-width: 50%;
    margin-top: 40px;
    flex-basis: 248px;

    @include max(1440) {
      width: calc(100% / 6);
      max-width: none;
      margin-top: 60px;
      padding: 0 20px;
      flex-grow: 1;
      flex-basis: calc(100% / 6);
    }

    @include max(md) {
      width: calc(100% / 3);
      max-width: 248px;
      margin-top: 60px;
      flex-basis: calc(100% / 3);
    }

    @include max(xs) {
      width: 50%;
      max-width: 220px;
      margin-top: 40px;
      flex-basis: 50%;
    }
  }

  &__bottom {
  }

  &__video {

    @include max(1440) {

    }

    @include max(md) {
    }

    .video__inner{
      padding: 0;
      height: 100%;
    }
    video{
      position: static;
    }
  }

  &__text {
    max-width: 750px;
    //margin-left: auto;
    margin-right: 0;
    padding: 76px 0;
    //height: 290px;

    font-size: 20px;
    color: $grey-95;
    //background-color: rgba(yellow, 0.4);

    @include max(1440) {
      max-width: 850px;
      padding: 56px 48px 0;
      background-color: $white;
    }

    @include max(md) {
      margin-right: auto;
      margin-top: 0;
    }

    @include max(xs) {
      padding: 48px 0 0;
    }

    @include max(xxs) {
      padding: 40px 0 0;
      font-size: 18px;
    }

    p {
      margin: 0;
    }

    p + p {
      margin-top: 1.6em;
    }
  }
}
[data-aos="fade-in"].aos-animate {
  transform: none !important;
}
