.title {
  margin: 0;
  font-family: $thirdFont;
  font-size: 80px;
  line-height: 1;
  font-weight: 500;
  color: $asphalt-92;

  @include max(md) {
    //font-size: 56px;
  }

  @include max(md) {
    font-size: 56px;
  }

  @include max(xs) {
    font-size: 48px;
  }
}
