section.hero 
  .hero__container.container 
    .hero__column.hero__column--main 
      h1.hero__title.title Приглашаем на работу в&nbsp;Авилон!
      ul.hero__list
        each item in HERO_LIST
          li= item
    .hero__column.hero__column--aside
      .hero__image 
        img(src="images/hero-image.jpg", width="1434", height="900", alt="")
      .hero__text ГК «АВИЛОН» — один из лидирующих многопрофильных холдингов России, что подтверждает большое количество наград, которыми удостоен ГК «АВИЛОН».