mixin award-preview({title, text, image, icon, iconFormat, className})
  div(class= (className ? className + ' award-preview' : 'award-preview'))
    .award-preview__main
      .award-preview__title!= title
      .award-preview__text!= text
    .award-preview__image
      if image
        img(src="images/awards/" + image + '.jpg', alt="")

      .award-preview__placeholder
        span.award-preview__icon
          if iconFormat 
            img(src="images/awards/logo/" + icon + '.' + iconFormat, alt="")
          else
            +icon(icon)
            //(width="104", height="104")