mixin field({type, name, hint, className, readonly})
  if type === 'textarea'
    label(class= (className ? className + ' field field--textarea' : 'field field--textarea'))
      textarea(name= name, placeholder= hint)
      //-span.field__hint= hint
  else
    label(class= (className ? className + ' field' : 'field'))
      if readonly
        input(type= type, name= name, placeholder= hint, readonly)
      else
        input(type= type, name= name, placeholder= hint)
      
      //-span.field__hint= hint