-
  const getRandomInteger = (a = 0, b = 1) => {
    const lower = Math.ceil(Math.min(a, b));
    const upper = Math.floor(Math.max(a, b));

    return Math.floor(lower + Math.random() * (upper - lower + 1));
  };

  const VACANCY_IT_ITEM = {title: 'Начальник IT отдела', text: '150 000 – 250 000 руб, Москва', tag: 'li', className: 'vacancies__item it', category: 'it'};

  const VACANCY_AGRO_ITEM = {title: 'Водитель на сельскохозяйственную технику', text: '150 000 – 250 000 руб, Москва', tag: 'li', className: 'vacancies__item', category: 'agro'};

  const VACANCY_ADMIN_ITEM = {title: 'Сотрудник отдела кадров', text: '150 000 – 250 000 руб, Москва', tag: 'li', className: 'vacancies__item', category: 'admin'};

  const VACANCY_WORKER_ITEM = {title: 'Уборщица помещений', text: '150 000 – 250 000 руб, Москва', tag: 'li', className: 'vacancies__item', category: 'worker'};

  const VACANCY_FINANCE_ITEM = {title: 'Бухгалтер', text: '150 000 – 250 000 руб, Москва', tag: 'li', className: 'vacancies__item', category: 'finance'};

  const VACANCY_PR_ITEM = {title: 'PR менеджер', text: '150 000 – 250 000 руб, Москва', tag: 'li', className: 'vacancies__item', category: 'pr'};

  const VACANCY_INVEST_ITEM = {title: 'Специалист по ценным бумагам и инвестициям', text: '150 000 – 250 000 руб, Москва', tag: 'li', className: 'vacancies__item', category: 'invest'};

  const VACANCIES_IT = [...Array(12)].map(it => VACANCY_IT_ITEM);
  const VACANCIES_AGRO = [...Array(33)].map(it => VACANCY_AGRO_ITEM);
  const VACANCIES_ADMIN = [...Array(6)].map(it => VACANCY_ADMIN_ITEM);
  const VACANCIES_WORKER = [...Array(4)].map(it => VACANCY_WORKER_ITEM);
  const VACANCIES_FINANCE = [...Array(22)].map(it => VACANCY_FINANCE_ITEM);
  const VACANCIES_PR = [...Array(1)].map(it => VACANCY_PR_ITEM);
  const VACANCIES_INVEST = [...Array(8)].map(it => VACANCY_INVEST_ITEM);

  const VACANCIES_AUTO_BUSINESS_LIST = [
    {title: 'Старший менеджер отдела продаж VOLVO', text: '150 000 – 250 000 руб, Москва', tag: 'li', className: 'vacancies__item one', category: 'auto-business'},
    {title: 'Старший менеджер отдела продаж VOLVO', text: '150 000 – 250 000 руб, Москва', tag: 'li', className: 'vacancies__item', category: 'auto-business'},
    {title: 'Водитель погрузчика', text: '25 000 – 175 000 руб, Москва', tag: 'li', className: 'vacancies__item', category: 'auto-business'},
    {title: 'Водитель на газель', text: '135 000 – 170 000 руб, Москва', tag: 'li', className: 'vacancies__item four', category: 'auto-business'},
    {title: 'Водитель с личным грузовым автомобилем', text: '20 000 – 170 000 руб, Москва', tag: 'li', className: 'vacancies__item', category: 'auto-business'},
    {title: 'Водитель-экспедитор', text: '165 000 руб, Москва', tag: 'li', className: 'vacancies__item', category: 'auto-business'},
    {title: 'Семейный водитель', text: '20 000 – 150 000 руб, Москва', tag: 'li', className: 'vacancies__item', category: 'auto-business'},
    {title: 'Водитель категории Е', text: 'до 160 000 руб, Москва', tag: 'li', className: 'vacancies__item', category: 'auto-business'},
    {title: 'Водитель электропогрузчика', text: '90 000 руб, Москва', tag: 'li', className: 'vacancies__item', category: 'auto-business'}
  ];

  const VACANCIES_AUTO_BUSINESS = VACANCIES_AUTO_BUSINESS_LIST.concat([...Array(21 - VACANCIES_AUTO_BUSINESS_LIST.length)].map(it => {
    return VACANCIES_AUTO_BUSINESS_LIST[getRandomInteger(0, VACANCIES_AUTO_BUSINESS_LIST.length - 1)];
  }));

  const VACANCIES_LIST = VACANCIES_AUTO_BUSINESS.concat(VACANCIES_IT, VACANCIES_AGRO, VACANCIES_ADMIN, VACANCIES_WORKER, VACANCIES_FINANCE, VACANCIES_PR, VACANCIES_INVEST);

  const VACANCIES_MENU = [
    {text: 'Автомобильный бизнес', counter: '21', target: 'auto-business', items: VACANCIES_AUTO_BUSINESS},
    {text: 'Информационные технологии, интернет, телеком', counter: '12', target: 'it', items: VACANCIES_IT},
    {text: 'Производство, сельское хозяйство', counter: '33', target: 'agro', items: VACANCIES_AGRO},
    {text: 'Административный персонал', counter: '6', target: 'admin', items: VACANCIES_ADMIN},
    {text: 'Рабочий персонал', counter: '4', target: 'worker', items: VACANCIES_WORKER},
    {text: 'Бухгалтерия, управленческий учет, финансы предприятия', counter: '22', target: 'finance', items: VACANCIES_FINANCE},
    {text: 'Маркетинг, реклама, PR', counter: '1', target: 'pr', items: VACANCIES_PR},
    {text: 'Банки, инвестиции, лизинг', counter: '8', target: 'invest', items: VACANCIES_INVEST},
    {text: 'Управление персоналом, тренинги', counter: '', target: 'control', items: []}
  ];

  const AWARDS_2021 = [
    {
      title: 'АВИЛОН <span>Ситроен</span>', 
      text: 'Лучший дилер 2020 по продажам коммерческого транспорта!', 
      image: 'rewards-image-137', 
      icon: 'citroen', 
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Hyundai</span>', 
      text: 'АВИЛОН официальный дилер Hyundai «Лучший директор филиала в регионе Центральный по итогам 2020 года» директор филиала АВИЛОН Hyundai - Макарычев Дмитрий', 
      image: 'rewards-image-134', 
      icon: 'hyundai', 
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>BMW Motorrad</span>', 
      text: 'АВИЛОН BMW Motorrad на Волгоградском проспекте – ЛУЧШИЙ ДИЛЕР MOTO в РОССИИ', 
      image: 'rewards-image-132', 
      icon: 'bmw-motorrad', 
      iconFormat: 'png',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Volkswagen</span>', 
      text: 'По итогам 2020 года дилерский центр АВИЛОН Volkswagen стал лидером по объему продаж автомобилей в Volkswagen России, и был отмечен сертификатом марки за вклад в развитие продаж автомобилей Volkswagen в 2020 году.', 
      image: '', 
      icon: 'vw', 
      className: 'awards__item swiper-slide'
    }
  ];

  const AWARDS_2020 = [
    {
      title: 'АВИЛОН <span>Rolls-Royce</span>', 
      text: 'Удостоили звания «Лучший дилер Европы 2019 и 2020 годов».',
      image: 'rewards-image-29',
      icon: 'rolls-royce',
      className: 'awards__item swiper-slide'
    },
    {
      title: '«Моё Лето» <span></span>',
      text: 'Компания «Моё Лето» успешно прошла сертификацию ГОСТ',
      image: 'rewards-image-136',
      icon: 'moe-leto',
      iconFormat: 'png',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>', 
      text: '«АВИЛОН» признан лучшим автомобильным холдингом по продаже автомобилей по итогам национальной премии «Автодилер Года – 2020».', 
      image: 'rewards-image-30', 
      icon: 'avilon', 
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Rolls-Royce</span>', 
      text: '«Rolls-Royce. АВИЛОН» стал лучшим в номинации «Организация продаж новых автомобилей» в сегменте Luxury.', 
      image: '', 
      icon: 'rolls-royce', 
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Hyundai</span>', 
      text: 'Лучший дилер по организации продаж Hyundai: новые автомобили. Массовый сегмент. По версии АВТОСТАТ.', 
      image: '', 
      icon: 'hyundai', 
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Mercedes-Benz</span>', 
      text: 'Лучший дилер в сегменте премиум в категории «Организация продаж новых автомобилей» по версии АВТОСТАТ', 
      image: '', 
      icon: 'mercedes-benz', 
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Rolls-Royce</span>', 
      text: 'Лучший дилер в сегменте люкс в категории «Организация продаж автомобилей с пробегом» по версии АВТОСТАТ', 
      image: 'rewards-image-34', 
      icon: 'rolls-royce', 
      className: 'awards__item swiper-slide'
    },
    {
      title: '«Моё Лето» <span></span>', 
      text: 'Компании «Моё Лето» и «Агро-Инвест» награждены в номинациях «За популяризацию здорового питания в России» и «Инновационная компания» в рамках международного инвестиционного форума «Тепличные комплексы РФ и СНГ 2019».', 
      image: '', 
      icon: 'moe-leto', 
      iconFormat: 'png',
      className: 'awards__item swiper-slide'
    },
    {
      title: '«Агро-Инвест» <span></span>', 
      text: 'Компания компания «Агро-Инвест» успешно прошла сертификацию и стала первым тепличным комплексом, сертифицированным по стандарту Global GAP', 
      image: 'rewards-image-37', 
      icon: 'agroinvest', 
      iconFormat: 'png',
      className: 'awards__item swiper-slide'
    },
    {
      title: '«Моё Лето» <span></span>', 
      text: '2020 март Шампиньоны «Мое Лето» успешно прошли сертификационный аудит международного стандарта качества FSSC 22000 по сертификации Global Food Safety Initiative (Глобальная инициатива по пищевой безопасности).', 
      image: '', 
      icon: 'moe-leto', 
      iconFormat: 'png',
      className: 'awards__item swiper-slide'
    },
    {
      title: '«Моё Лето» <span></span>', 
      text: 'Компания «Моё Лето» первой в России получила международный сертификат QSCert', 
      image: 'rewards-image-131', 
      icon: 'moe-leto', 
      iconFormat: 'png',
      className: 'awards__item swiper-slide'
    }
  ];

  const AWARDS_2019 = [
    {
      title: 'АВИЛОН <span>Hyundai</span>', 
      text: 'Лучший дилер по корпоративным продажам.', 
      image: 'rewards-image-135', 
      icon: 'hyundai', 
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Hyundai</span>', 
      text: 'Лучший дилер по организации продаж Hyundai: новые автомобили. Массовый сегмент. По версии «Автостат».', 
      image: 'rewards-image-39', 
      icon: 'hyundai',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Bentley Москва-Волгоградский</span>', 
      text: 'Признан лучшим дилером марки по продажам в Европе.', 
      image: 'rewards-image-40', 
      icon: 'bentley',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Maserati</span>', 
      text: 'Лучший дилер в сегменте люкс в категории «Организация продаж новых автомобилей» по версии АВТОСТАТ', 
      image: 'rewards-image-41', 
      icon: 'maserati', 
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>', 
      text: 'АГ «АВИЛОН» стала победителем в пятом ежегодном профессиональном рейтинге «АВТОДИЛЕР ГОДА - 2019» в номинации «Организация продаж новых автомобилей».', 
      image: '', 
      icon: 'avilon', 
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Mercedes-Benz</span>', 
      text: 'Лучший дилер в сегменте премиум в категории «Организация продаж новых автомобилей» по версии АВТОСТАТ', 
      image: 'rewards-image-42', 
      icon: 'mercedes-benz', 
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Hyundai</span>', 
      text: 'АВИЛОН официальный дилер Hyundai победитель в номинации «Лизинговая сделка года в автолизинге» первой национальной премии «Лизинговая сделка года»', 
      image: 'rewards-image-43', 
      icon: 'hyundai', 
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Rolls-Royce</span>', 
      text: 'Лучший дилер в сегменте люкс в категории «Организация продаж автомобилей с пробегом» по версии АВТОСТАТ', 
      image: 'rewards-image-44', 
      icon: 'rolls-royce',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>', 
      text: 'Лучший холдинг по организации продаж новых автомобилей (более 20 дилерских контрактов) по версии АВТОСТАТ', 
      image: 'rewards-image-45', 
      icon: 'avilon', 
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Audi</span>', 
      text: 'Концерн Audi признал дилерский центр «АВИЛОН.Audi» лучшим в мире и удостоил премии Urban World.', 
      image: '', 
      icon: 'audi',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Bentley Москва-Волгоградский</span>', 
      text: 'Занял первое место по продажам в Европе.', 
      image: '', 
      icon: 'bentley', 
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>', 
      text: 'АГ «АВИЛОН» - победитель в пятом ежегодном профессиональном рейтинге «Автодилер Года 2019» в номинации «Организация продаж новых автомобилей».', 
      image: '', 
      icon: 'avilon', 
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Audi</span>', 
      text: 'Признан лучшим дилером Audi в России и в Москве.', 
      image: '', 
      icon: 'audi', 
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Jaguar Land Rover</span>', 
      text: 'Лучший дилер по продажам автомобилей с пробегом Approved.', 
      image: '', 
      icon: 'jaguar-land-rover', 
      iconFormat: 'png',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>', 
      text: '«АВИЛОН» абсолютный лидер по средней выручке на одного сотрудника. «АВИЛОН» продемонстрировал наибольший рост эффективности по итогам 2018 года, по данным АвтоБизнесРевю.', 
      image: '', 
      icon: 'avilon',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Mercedes-Benz</span>', 
      text: 'Дилер года по продажам финансовых услуг по итогам 2018 года.', 
      image: '', 
      icon: 'mercedes-benz', 
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Volkswagen</span>', 
      text: 'Лучший дилер 2-х столиц по итогам 2018 года.', 
      image: '', 
      icon: 'vw', 
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>', 
      text: 'Вошел в ТОП-20 российских автохолдингов по показателю выручки по итогам 2018 года по версии Автостат. Автомобильная группа входит в рейтинг «АвтоБизнесРевю» – ТОП-10 компаний по количеству новых салонов в 2018 году.', 
      image: '', 
      icon: 'avilon', 
      className: 'awards__item swiper-slide'
    },
  ];

  const AWARDS_2018 = [
    {
      title: 'АВИЛОН <span></span>', 
      text: 'Автомобильная группа «АВИЛОН» была признана лучшей среди автомобильных дилеров России по итогам проведения ежегодной премии «РосАвтоДилер 2018», организованной Ассоциацией «Российские Автомобильные Дилеры» (РОАД).', 
      image: '', 
      icon: 'avilon',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>', 
      text: 'АВИЛОН занял первое место в номинации «Эффективность продаж автомобилей с пробегом», второе – в номинации «Эффективность продаж новых автомобилей» и третье место в номинации «Эффективность сервисного обслуживания».', 
      image: '', 
      icon: 'avilon', 
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Jaguar Land Rover</span>', 
      text: 'Лучший маркетинг дилерской сети Jaguar Land Rover за 1-е полугодие 2018-19 FY.', 
      image: '', 
      icon: 'jaguar-land-rover', 
      iconFormat: 'png',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>', 
      text: 'Самый эффективный дилерский холдинг по версии АвтоБизнесРевю.', 
      image: '', 
      icon: 'avilon',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>', 
      text: 'АГ «АВИЛОН» стала победителем IV Ежегодного профессионального рейтинга «Автодилер Года-2018» в номинации «Организация продаж новых автомобилей».', 
      image: '', 
      icon: 'avilon', 
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Maserati</span>',
      text: '«АВИЛОН. Maserati» Лучший дилер в сегменте люкс в категории «Организация продаж новых автомобилей» по версии АВТОСТАТ.',
      image: '',
      icon: 'maserati',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Официальный дилер Bentley</span>',
      text: 'Лучший дилер в сегменте люкс в номинации «Организация сервиса» по версии АВТОСТАТ.',
      image: '',
      icon: 'bentley',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Mercedes-Benz</span>',
      text: 'Лучший дилер в сегменте премиум в категории «Организация продаж новых автомобилей» по версии АВТОСТАТ.',
      image: '', 
      icon: 'mercedes-benz',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Rolls-Royce</span>',
      text: 'Лучший дилер в сегменте люкс в категории «Организация продаж автомобилей с пробегом» по версии АВТОСТАТ.',
      image: '',
      icon: 'rolls-royce',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Bentley Москва-Волгоградский</span>',
      text: 'Лучший дилер Европы.',
      image: '',
      icon: 'bentley',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Cadillac</span>', 
      text: 'По результатам января 2018 года первого месяца работы «АВИЛОН. Cadillac» стал лучшим дилерским центром по результатам продаж Cadillac в России.', 
      image: '', 
      icon: 'cadillac',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Audi</span>', 
      text: 'АЦ Волгоградский был признан лучшим дилером по корпоративным продажам в 2018 году по результатам первой ежегодной премии в области корпоративных продаж «Audi Fleet Cup 2018».', 
      image: '', 
      icon: 'audi',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Hyundai</span>',
      text: 'Лучший дилер по корпоративным продажам.',
      image: '',
      icon: 'hyundai',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Mercedes-Benz</span>',
      text: '№1 по продаже малотоннажного транспорта.',
      image: '',
      icon: 'mercedes-benz',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Hyundai</span>', 
      text: 'Лучший маркетинговый проект 2018.', 
      image: '', 
      icon: 'hyundai',
      className: 'awards__item swiper-slide'
    },
    {
      title: '«Автологистика-Транс» <span></span>',
      text: '«Автологистика-Транс» получила из рук гендиректора «ДАЙМЛЕР КАМАЗ РУС» Андреаса Дойшле сертификат, подтверждающий соответствие компании стандартам, предъявляемым к сервисным центрам грузовой техники Mercedes-Benz на территории России.',
      image: '', 
      icon: 'als', 
      iconFormat: 'png',
      className: 'awards__item swiper-slide'
    }
  ];
  
  const AWARDS_2017 = [
    {
      title: 'АВИЛОН <span>BMW</span>',
      text: '«АВИЛОН. BMW» признан лучшим дилером по продажам в 2017 году.',
      image: '',
      icon: 'bmw',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>BMW</span>',
      text: 'Получил награду в сегменте GKL+ за реализацию автомобилей 7 серии.',
      image: '',
      icon: 'bmw',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Mercedes-Benz</span>',
      text: 'Получил 2 премии – за организацию продаж и интернет-маркетинг в премиальном сегменте по версии аналитического агентства Автостат.',
      image: '',
      icon: 'mercedes-benz',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Mercedes-Benz</span>',
      text: 'Признан Дилером года в корпоративных продажах малотоннажного транспорта в России.',
      image: '',
      icon: 'mercedes-benz',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>',
      text: 'Лучший дилер в области продаж кредитных продуктов ФОРД',
      image: '',
      icon: 'ford',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Официальный дилер Bentley</span>',
      text: 'Стал Единственным 6-тизвездочным дилером в России и завоевал награду «Лучший сервис – 2017»',
      image: '',
      icon: 'bentley',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Aston Martin</span>',
      text: 'Лучший дилер в Европе по маркетингу.',
      image: '',
      icon: 'aston-martin',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Hyundai</span>',
      text: '«АВИЛОН» признан лучшим дилером по корпоративным продажам Hyundai.',
      image: '',
      icon: 'hyundai',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Официальный дилер Volkswagen</span>',
      text: 'Лучший дилер 2-х столиц.',
      image: '',
      icon: 'vw',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>',
      text: 'Лучший Дилер по продажам коммерческого транспорта в Москве.',
      image: '',
      icon: 'avilon',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>',
      text: 'Лучший Дилер по продажам специальной техники в 2017 году.',
      image: '',
      icon: 'avilon',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Ford</span>',
      text: 'Лучший дилер в области продаж кредитных продуктов.',
      image: '',
      icon: 'ford',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>',
      text: 'Лучший Дилер по корпоративным продажам в 2017 году.',
      image: '',
      icon: 'avilon',
      className: 'awards__item swiper-slide'
    }
  ];

  const AWARDS_2016 = [
    {
      title: 'АВИЛОН <span>BMW</span>',
      text: 'Получил награду «Лучшего сервисного центра BMW Motorrad в 2016 году».',
      image: 'rewards-image-77',
      icon: 'bmw-motorrad',
      iconFormat: 'png',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Volkswagen</span>',
      text: 'Лучший автодилер 2016 года в номинации сервис.',
      image: '',
      icon: 'vw',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Официальный дилер Volkswagen</span>', 
      text: 'Лучший дилер по итогам продаж специальной техники в 2016 году',
      image: '',
      icon: 'vw',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Официальный дилер Volkswagen</span>',
      text: 'Лучший дилер по корпоративным продажам в 2016 году',
      image: '',
      icon: 'vw',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Официальный дилер Volkswagen</span>',
      text: 'Лучший дилер по итогам продаж в 2016 году. Москва и Россия. Коммерческие автомобили.',
      image: '',
      icon: 'vw',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Официальный дилер Volkswagen</span>',
      text: 'По результатам исследования, проведенного ООО «ФОЛЬКСВАГЕН Групп Рус» среди российских официальных дилеров, признан Автодилером 2016 года.',
      image: '',
      icon: 'vw',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Ford</span>',
      text: 'Лучший дилер по итогам продаж коммерческого транспорта FORD.',
      image: '',
      icon: 'ford',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Rolls-Royce</span>',
      text: 'Лучший европейский дилер 2016 года по маркетинговым активностям',
      image: '',
      icon: 'rolls-royce',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Mercedes-Benz</span>', 
      text: 'Лучший Дилер 2016 года по Сервису и Запасным частям.', 
      image: '',
      icon: 'mercedes-benz',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Hyundai</span>',
      text: 'Лучший дилер по корпоративным продажам 2016.',
      image: '',
      icon: 'hyundai',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Hyundai</span>',
      text: 'Лучший дилер по обучению персонала 2016.',
      image: '',
      icon: 'hyundai',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Официальный дилер Aston Martin</span>',
      text: 'В рамках ежегодной конференции европейских дилеров завоевал награду в номинации лучший «Маркетинговый проект».',
      image: '',
      icon: 'aston-martin',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Официальный дилер Bentley</span>', 
      text: 'Признан лучшим дилером по продаже а/м',
      image: '',
      icon: 'bentley',
      className: 'awards__item swiper-slide'
    }
  ];

  const AWARDS_2015 = [
    {
      title: 'АВИЛОН <span>Mercedes-Benz</span>', 
      text: 'Признан: Дилером №1 по выполнению стандартов PPI; Лидером по продажам AMG и Maybach; Лидером по продажам ДОП в России.', 
      image: '',
      icon: 'mercedes-benz',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>',
      text: 'АГ «АВИЛОН» вошел в ТОП-3 по лизингу и страхованию жизни в России и ТОП-3 по объемам закупок з/ч в России.',
      image: '',
      icon: 'avilon',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>',
      text: 'Лучший дилер по продажам Genesis в 2015 году.',
      image: '',
      icon: 'genesis',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>',
      text: 'Лучший дилер по корпоративным продажам в Hyundai 2015 г.',
      image: '',
      icon: 'hyundai',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>',
      text: 'Лучший маркетинговый проект Hyundai 2015 г.',
      image: '',
      icon: 'hyundai',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>',
      text: 'Лучший маркетинг сервиса Hyundai 2015 г.',
      image: '',
      icon: 'hyundai',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>',
      text: 'Лучший дилер Hyundai в 2015 году по версии Carpark.ru',
      image: '',
      icon: 'hyundai',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>', 
      text: 'Лучший дилер Volkswagen 2015 года по версии Carpark.ru',
      image: '',
      icon: 'vw',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>',
      text: 'Лучший дилер 2015 года по продажам, корпоративным продажам коммерческих автомобилей и специальной техники Volkswagen в России',
      image: '',
      icon: 'vw',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>',
      text: 'Лучший дилер Jeep в 2015 году по версии Carpark.ru',
      image: '',
      icon: 'jeep',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>',
      text: 'Обладатель премии Ford Chairman’s Award-2015 в категории «Продажи»',
      image: '',
      icon: 'ford',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>',
      text: 'По версии независимого рейтинга, организованного автомобильным порталом Carpark.ru «АВИЛОН» награжден премией «Лучший дилер 2015»',
      image: '',
      icon: 'avilon',
      className: 'awards__item swiper-slide'
    },
  ];

  const AWARDS_2014 = [
    {
      title: 'АВИЛОН <span></span>',
      text: 'В рамках ежегодной премии вручения дилерских наград Rolls-Royce Motor Cars, АГ «АВИЛОН» был признан самым динамично развивающимся дилером.',
      image: '',
      icon: 'avilon',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>',
      text: 'Признан лучшим дилером марки Volkswagen в Москве и России.',
      image: '',
      icon: 'vw',
      className: 'awards__item swiper-slide'
    }
  ];

  const AWARDS_2013 = [
    {
      title: 'АВИЛОН <span></span>',
      text: 'Лидер корпоративных продаж в России легковых и коммерческих автомобилей Volkswagen.',
      image: '',
      icon: 'vw',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>',
      text: 'Дилер №1 в России по розничным продажам коммерческих автомобилей марки Volkswagen.',
      image: '',
      icon: 'vw',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>',
      text: '«АВИЛОН» входит в рейтинг 200 крупнейших российских частных компаний по версии Forbes.',
      image: '',
      icon: 'avilon',
      className: 'awards__item swiper-slide'
    }
  ];
  
  const AWARDS_2012 = [
    {
      title: 'АВИЛОН <span></span>',
      text: 'Лучший дилер марки BMW в России.',
      image: '',
      icon: 'bmw',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>',
      text: 'Лучший дилер по корпоративным продажам автомобилей FORD.',
      image: '',
      icon: 'ford',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>',
      text: 'Лучший дилер по объему продаж FORD в России.',
      image: '',
      icon: 'ford',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>', 
      text: 'Лучший дилер в России по розничным продажам коммерческих автомобилей марки Volkswagen.', 
      image: '', 
      icon: 'vw', 
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>', 
      text: 'Дилер №1 в России по корпоративным продажам коммерческих автомобилей марки Volkswagen.', 
      image: '', 
      icon: 'vw',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>', 
      text: 'Лучший дилер по итогам продаж внедорожников FORD.', 
      image: '', 
      icon: 'ford',
      className: 'awards__item swiper-slide'
    },
    {
      title: '«Авилон Плаза» <span></span>', 
      text: 'Подтверждено соответствие бизнес-центра «Авилон Плаза» высоким стандартам офисных зданий класса «А».', 
      image: '', 
      icon: 'avilon-plaza', 
      iconFormat: 'png',
      className: 'awards__item swiper-slide'
    }
  ];
  
  const AWARDS_2011 = [
    {
      title: 'АВИЛОН <span></span>',
      text: 'Лучший дилер BMW по корпоративным продажам.',
      image: '',
      icon: 'bmw',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>',
      text: 'Лучший лидер марки Volkswagen по продажам специальной техники коммерческих автомобилей.',
      image: '',
      icon: 'vw',
      className: 'awards__item swiper-slide'
    },
  ];

  const AWARDS_2007 = [
    {
      title: 'АВИЛОН <span></span>', 
      text: 'Лучший дилер по итогам продаж автомобилей FORD.', 
      image: '', 
      icon: 'ford',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>', 
      text: 'Лучший дилер FORD по итогам продаж запасных частей и аксессуаров.', 
      image: '', 
      icon: 'ford', 
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>', 
      text: 'Лучший дилер по корпоративным продажам автомобилей FORD.', 
      image: '',
      icon: 'ford',
      className: 'awards__item swiper-slide'
    }
  ];

  const AWARDS_2006 = [
    {
      title: 'АВИЛОН <span></span>', 
      text: 'Лучший дилер FORD по итогам продаж запасных частей и аксессуаров.', 
      image: '', 
      icon: 'ford',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>', 
      text: 'Лучший дилер FORD по развитию персонала', 
      image: '', 
      icon: 'ford', 
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>', 
      text: 'Лучший дилер по итогам продаж коммерческих автомобилей FORD.', 
      image: '',
      icon: 'ford',
      className: 'awards__item swiper-slide'
    }
  ];

  const AWARDS_2005 = [
    {
      title: 'АВИЛОН <span></span>', 
      text: 'Лучший дилер по итогам продаж автомобилей FORD.', 
      image: '', 
      icon: 'ford',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>', 
      text: 'Лучший дилер по итогам продаж коммерческих автомобилей FORD.', 
      image: '', 
      icon: 'ford', 
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>', 
      text: 'Лучший дилер по итогам продаж автомобилей FORD Mondeo.', 
      image: '',
      icon: 'ford',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>', 
      text: 'Лучший дилер по корпоративным продажам автомобилей FORD.', 
      image: '',
      icon: 'ford',
      className: 'awards__item swiper-slide'
    }
  ];

  const AWARDS_2004 = [
    {
      title: 'АВИЛОН <span></span>', 
      text: 'Лучший дилер по итогам продаж автомобилей FORD.', 
      image: '', 
      icon: 'ford',
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>', 
      text: 'Лучший дилер по итогам продаж внедорожников FORD.', 
      image: '', 
      icon: 'ford', 
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>', 
      text: 'Лучший дилер по итогам продаж коммерческих автомобилей FORD.', 
      image: '',
      icon: 'ford',
      className: 'awards__item swiper-slide'
    }
  ];

  const AWARDS_2003 = [
    {
      title: 'АВИЛОН <span></span>', 
      text: 'Лучший дилер по итогам продаж внедорожников FORD.', 
      image: '', 
      icon: 'ford', 
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span></span>', 
      text: 'Лучший дилер по итогам продаж автомобилей FORD.', 
      image: '', 
      icon: 'ford',
      className: 'awards__item swiper-slide'
    }
  ];

  const AWARDS_2002 = [
    {
      title: 'АВИЛОН <span>Mercedes-Benz</span>', 
      text: 'Лучший дилер по продажам и сервисному обслуживанию.', 
      image: '', 
      icon: 'mercedes-benz', 
      className: 'awards__item swiper-slide'
    }
  ];

  /*const ICONS = [];

  const rr = AWARDS_2021.concat(AWARDS_2020, AWARDS_2019, AWARDS_2018, AWARDS_2017, AWARDS_2016, AWARDS_2015, AWARDS_2014, AWARDS_2013, AWARDS_2012, AWARDS_2011, AWARDS_2007, AWARDS_2006, AWARDS_2005, AWARDS_2004, AWARDS_2003, AWARDS_2002)

  rr.forEach(it => {
    if (ICONS.indexOf(it.icon) === -1) {
      ICONS.push(it.icon)
    }
  })*/

  const YEARS = [
    {year: '2002', targetSelector: 'awards-2002', awards: AWARDS_2002},
    {year: '2003', targetSelector: 'awards-2003', awards: AWARDS_2003},
    {year: '2004', targetSelector: 'awards-2004', awards: AWARDS_2004},
    {year: '2005', targetSelector: 'awards-2005', awards: AWARDS_2005},
    {year: '2006', targetSelector: 'awards-2006', awards: AWARDS_2006},
    {year: '2007', targetSelector: 'awards-2007', awards: AWARDS_2007},
    {year: '2011', targetSelector: 'awards-2011', awards: AWARDS_2011},
    {year: '2012', targetSelector: 'awards-2012', awards: AWARDS_2012},
    {year: '2013', targetSelector: 'awards-2013', awards: AWARDS_2013},
    {year: '2014', targetSelector: 'awards-2014', awards: AWARDS_2014},
    {year: '2015', targetSelector: 'awards-2015', awards: AWARDS_2015},
    {year: '2016', targetSelector: 'awards-2016', awards: AWARDS_2016},
    {year: '2017', targetSelector: 'awards-2017', awards: AWARDS_2017},
    {year: '2018', targetSelector: 'awards-2018', awards: AWARDS_2018},
    {year: '2019', targetSelector: 'awards-2019', awards: AWARDS_2019},
    {year: '2020', targetSelector: 'awards-2020', awards: AWARDS_2020},
    {year: '2021', targetSelector: 'awards-2021', awards: AWARDS_2021},
  ].reverse();

  const HERO_LIST = [
    'Автобизнес',
    'Логистика',
    'Агрохолдинг',
    'АВИЛОН Плаза',
    'Ресторан AssuntaMadre',
    'Девелопмент',
    'Управление автопарками'
  ];

  const ADVANTAGES_LIST = [
    {text: 'Работа в команде единомышленников', icon: {id: 'advantage-icon-1', w: '78', h: '76'}},
    {text: 'Обучение', icon: {id: 'advantage-icon-2', w: '104', h: '70'}},
    {text: 'Социальные гарантии', icon: {id: 'advantage-icon-3', w: '69', h: '82'}},
    {text: 'Корпоративные мероприятия', icon: {id: 'advantage-icon-4', w: '66', h: '67'}},
    {text: 'Карьерный рост', icon: {id: 'advantage-icon-5', w: '78', h: '74'}},
    {text: 'Скидки для сотрудников', icon: {id: 'advantage-icon-6', w: '93', h: '92'}}
  ];

  const BUSINESSES = [
    {logo: {n: 'logo-1.svg', w: '200', h: '100'}, type: 'Агрохолдинг', site: {url: 'http://moeleto.ru', text: 'moeleto.ru'}, mod: 'business-preview--moeleto business-preview--bg-grey'},
    {logo: {n: 'logo-2.svg', w: '269', h: '40'}, type: 'Девелопмент', site: {url: 'http://jil-invest.ru', text: 'jil-invest.ru'}, mod: 'business-preview--jilinvest'},
    {logo: {n: 'logo-3.png', w: '256', h: '91'}, type: 'Бизнес-центр', site: {url: 'http://avilon-plaza.ru', text: 'avilon-plaza.ru'}, mod: 'business-preview--avilonplaza business-preview--bg-grey'},
    {logo: {n: 'logo-4.svg', w: '195', h: '54'}, type: 'Логистика ', site: {url: 'http://autologistics.ru', text: 'autologistics.ru'}, mod: 'business-preview--autologistics'},
    {logo: {n: 'logo-5.svg', w: '200', h: '53'}, type: 'Управление автопарками', site: {url: 'http://solt.msk.ru', text: 'solt.msk.ru'}, mod: 'business-preview--solt business-preview--bg-light'},
    {logo: {n: 'logo-6.svg', w: '200', h: '87'}, type: 'Ресторан', site: {url: 'http://assuntamadre.ru', text: 'assuntamadre.ru'}, mod: 'business-preview--assuntamadre'}
  ];