-
  const VACANCIES = [
    {title: 'Старший менеджер отдела продаж VOLVO', text: '150 000 – 250 000 руб, Москва', tag: 'li', className: 'vacancies__item', category: 'auto-business'},
    {title: 'Старший менеджер отдела продаж VOLVO', text: '150 000 – 250 000 руб, Москва', tag: 'li', className: 'vacancies__item', category: 'auto-business'},
    {title: 'Водитель погрузчика', text: '25 000 – 175 000 руб, Москва', tag: 'li', className: 'vacancies__item', category: 'auto-business'},
    {title: 'Водитель на газель', text: '135 000 – 170 000 руб, Москва', tag: 'li', className: 'vacancies__item', category: 'auto-business'},
    {title: 'Водитель с личным грузовым автомобилем', text: '20 000 – 170 000 руб, Москва', tag: 'li', className: 'vacancies__item', category: 'auto-business'},
    {title: 'Водитель-экспедитор', text: '165 000 руб, Москва', tag: 'li', className: 'vacancies__item', category: 'auto-business'},
    {title: 'Семейный водитель', text: '20 000 – 150 000 руб, Москва', tag: 'li', className: 'vacancies__item', category: 'auto-business'},
    {title: 'Водитель категории Е', text: 'до 160 000 руб, Москва', tag: 'li', className: 'vacancies__item', category: 'auto-business'},
    {title: 'Водитель электропогрузчика', text: '90 000 руб, Москва', tag: 'li', className: 'vacancies__item', category: 'auto-business'}
  ];

  const VACANCIES_MENU = [
    {text: 'Автомобильный бизнес', counter: '21', target: 'auto-business'},
    {text: 'Информационные технологии, интернет, телеком', counter: '12', target: ''},
    {text: 'Производство, сельское хозяйство', counter: '33', target: ''},
    {text: 'Административный персонал', counter: '6', target: ''},
    {text: 'Рабочий персонал', counter: '4', target: ''},
    {text: 'Бухгалтерия, управленческий учет, финансы предприятия', counter: '22', target: ''},
    {text: 'Маркетинг, реклама, PR', counter: '1', target: ''},
    {text: 'Банки, инвестиции, лизинг', counter: '8', target: ''},
    {text: 'Управление персоналом, тренинги', counter: '', target: ''}
  ];

  const AWARDS_2021 = [
    {
      title: 'АВИЛОН <span>Volkswagen</span>', 
      text: 'По итогам 2020 года дилерский центр АВИЛОН Volkswagen стал лидером по объему продаж автомобилей в Volkswagen России, и был отмечен сертификатом марки за вклад в развитие продаж автомобилей Volkswagen в 2020 году.', 
      image: 'vw-2021', 
      icon: 'vw', 
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Mercedes</span>', 
      text: '"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.', 
      image: 'mercedes-2021', 
      icon: 'vw', 
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Mercedes</span>', 
      text: '"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.', 
      image: 'mercedes-2021', 
      icon: 'vw', 
      className: 'awards__item swiper-slide'
    },
    {
      title: 'АВИЛОН <span>Mercedes</span>', 
      text: '"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.', 
      image: 'mercedes-2021', 
      icon: 'vw', 
      className: 'awards__item swiper-slide'
    },
  ];

  const YEARS = [
    {year: '2002', targetSelector: 'awards-2002', awards: AWARDS_2021},
    {year: '2003', targetSelector: 'awards-2003', awards: AWARDS_2021},
    {year: '2004', targetSelector: 'awards-2004', awards: AWARDS_2021},
    {year: '2018', targetSelector: 'awards-2018', awards: AWARDS_2021},
    {year: '2019', targetSelector: 'awards-2019', awards: AWARDS_2021},
    {year: '2020', targetSelector: 'awards-2020', awards: AWARDS_2021},
    {year: '2021', targetSelector: 'awards-2021', awards: AWARDS_2021},
  ];

  const HERO_LIST = [
    'Автобизнес',
    'Логистика',
    'Агрохолдинг',
    'АВИЛОН Плаза',
    'Ресторан AssuntaMadre',
    'Девелопмент',
    'Управление автопарками'
  ];

  const ADVANTAGES_LIST = [
    {text: 'Работа в команде единомышленников', icon: {id: 'advantage-icon-1', w: '78', h: '76'}},
    {text: 'Обучение', icon: {id: 'advantage-icon-2', w: '104', h: '70'}},
    {text: 'Социальные гарантии', icon: {id: 'advantage-icon-3', w: '69', h: '82'}},
    {text: 'Корпоративные мероприятия', icon: {id: 'advantage-icon-4', w: '66', h: '67'}},
    {text: 'Карьерный рост', icon: {id: 'advantage-icon-5', w: '78', h: '74'}},
    {text: 'Скидки для сотрудников', icon: {id: 'advantage-icon-6', w: '93', h: '92'}}
  ];

  const BUSINESSES = [
    {logo: {n: 'logo-1.svg', w: '200', h: '100'}, type: 'Агрохолдинг', site: {url: 'http://moeleto.ru', text: 'moeleto.ru'}, mod: 'business-preview--moeleto business-preview--bg-grey'},
    {logo: {n: 'logo-2.svg', w: '269', h: '40'}, type: 'Девелопмент', site: {url: 'http://jil-invest.ru', text: 'jil-invest.ru'}, mod: 'business-preview--jilinvest'},
    {logo: {n: 'logo-3.png', w: '256', h: '91'}, type: 'Бизнес-центр', site: {url: 'http://avilon-plaza.ru', text: 'avilon-plaza.ru'}, mod: 'business-preview--avilonplaza business-preview--bg-grey'},
    {logo: {n: 'logo-4.svg', w: '195', h: '54'}, type: 'Логистика ', site: {url: 'http://autologistics.ru', text: 'autologistics.ru'}, mod: 'business-preview--autologistics'},
    {logo: {n: 'logo-5.svg', w: '200', h: '53'}, type: 'Управление автопарками', site: {url: 'http://solt.msk.ru', text: 'solt.msk.ru'}, mod: 'business-preview--solt business-preview--bg-light'},
    {logo: {n: 'logo-6.svg', w: '200', h: '87'}, type: 'Ресторан', site: {url: 'http://assuntamadre.ru', text: 'assuntamadre.ru'}, mod: 'business-preview--assuntamadre'}
  ];