/* media */
$media-list: (
  "xxs": 375,
  "xs": 560,
  "sm": 767,
  "md": 1079,
  "lg": 1279,
  "xl": 1599,
  "xxl": 1900,
);

/**/
$transition: 0.3s ease;

/* шрифты */
$mainFont: "Raleway", "Arial", sans-serif;
$secondFont: "Cormorant", "Georgia", serif;
$thirdFont: "Cormorant Garamond", "Georgia", serif;
$fourthFont: "Cormorant Infant", "Georgia", serif;

$fs-main: 16px;
$lh-main: 1.6;
$fw-main: 500;

/* цвета */
$white: #ffffff;
$black: #000000;

$dark-37: #373f42;
$dark-2b: #2b303a;
$dark-23: #232a32;
$dark-14: #141618;
$dark-0d: #0d0d0d;

$dark-4d: #4d5156;

$asphalt-92: #92a8b5;
$asphalt-c9: #c9d2d7;
$light-e1: #e1e6e9;
$light-e4: #e4e9ec;
$light-f1: #f1f5f8;

$grey-7d: #7d7f7e;
$grey-7b: #7b7f82;
$grey-75: #757c84;
$grey-82: #82949d;
$grey-95: #959b9d;
$grey-a9: #a9acab;
$grey-c4: #c4cfd4;
$grey-c9: #c9d2d7;
$grey-e5: #e5e5ec;

$blue-37: #45a6ff;
$blue-37-hover: lighten(#45a6ff, 5%);

$darkred-a7: #45a6ff;

$textMainColor: $dark-37;

// Retina
//---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
